.todo-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field {
    width: 100%;
  }
}

.todo-list {
  width: 250px;
}

.item__left {
  display: flex;
}

.todo-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
